

.searchResult_container{
    background: rgba(36, 23, 3, .5);
    color: white;
    margin: 1%;
    margin-top: 3%;
}


.searchWord_container ,.recomendation_text{
    width: 100%;
    border-bottom: solid 1px orange ;

}
.split_elements{ 
    border: solid .5px orange;
}

.related_title{
    font-size: 14px;
}
.tx_orange{
    color: orange;
}
.videos_list{
    padding-top: 1%;
    vertical-align: middle;
    margin-bottom: 1%;
}

.video_img{
    width: 250px ; 
    height: auto; 
    margin-bottom: 3%;
    border: solid 4px rgb(235, 140, 15);
   
}

.video_container{
    margin:1%
} 
.recomendation_text{
    margin-bottom: 2%;
}

@media(min-width: 500px ){
    .generatePreview{
        transition: .4s;
        transform: scale(1.2);
     } 

    
}


@media(max-width: 550px ){
    .generatePreview{
        transition: .4s;
        transform: scale(1.2);
     } 
}
@media(max-width: 400px) {
    
 .generatePreview{
    transition: .3s;
    transform: scale(1.1) ;
 } 
   
}

.video_ctrl{
    z-index: 1;
    position: absolute;
    overflow: auto;   
    top: 90%;
    width: 100%;
    font-size: 30px;
    background: rgba(36, 23, 3, 1);
    border-left: solid 4px orange;
    border-right: solid 4px orange;
    color: white;
   
}

 .video_desc{
    z-index: 2;
    position: absolute;
    float: left;
    overflow: auto;
    padding-left: 4%;
    padding-right: 4%;
    top: 116%;
    max-width: 100%;
    height: 100px;
    font-size: 10px;
    background: rgba(36, 23, 3, 1);
    border: solid 4px orange;
    border-top: 0 transparent;
    color: white;

 }

 .relatedTitles_container ul{
     margin:0;
     padding: 0%;
 }

 .generatePreview .video_img{
    content:url("../images/presentations/video_trailer.png")

 }


 .filter{
     margin-top: 2%;
     margin-left: 1%;
 }

 .active_filter{
    color: orange;     
 }