

.searchResult_container{
    color: white;
    margin: 2%;
    margin-top: 70px;
}


.searchWord_container ,.recomendation_text{
    width: 100%;
    border-bottom: solid 1px rgb(235, 140, 15) ;

}


.related_title{
    font-size: 14px;
}
.tx_orange{
    color: rgb(235, 140, 15);
}

.videos_list{
    padding-top: 1%;
    vertical-align: middle;
    margin-bottom: 1%;
 
}

.loadData{
    position: relative;
}

.video{
    position: relative;
    float: left;
    width: 250px ; 
    height: 200px; 
    margin-bottom: 3%;
    margin: 1%;
}

.video_container{
    margin:1%;
    flex: 1 ;

} 
.recomendation_text{
    margin-bottom: 2%;
}


 .relatedTitles_container ul{
     margin:0;
     padding: 0%;
 }

 .generatePreview .video_img, .generatePreview .video_img_a{
    content:url("../images/presentations/video_trailer.png");
 }


 .filter{
     margin-top: 2%;
     margin-left: 1%;
 }

 .active_filter{
    color: rgb(235, 140, 15);     
 }


 .searchList{}