/* general content */
body{
    font-family: 'Lato', sans-serif;
    background: black;
}

p{
    margin-bottom:0%;
}


.inLine{
    display: inline;
}
.img_radius{
    border-radius: 8px;
}


/* navbar */
.navbar_desktop{
    position: fixed;
    top: 0;
    background-image: linear-gradient(to right, black, black,   rgb(235, 140, 15));
    border-bottom:solid 1px rgb(235, 140, 15)  ;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    color: white;
    width: 100%;
    z-index: 200;
}

.navbar_mobile{
    background-image: linear-gradient(to top, black, black,   rgb(235, 140, 15));
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    color:  rgb(235, 140, 15);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 200;
        
}

.menu_section{
    background-image: linear-gradient(to bottom, black, black,   rgb(235, 140, 15));
    border-bottom:solid 1px rgb(235, 140, 15)  ;

}
.navbar_container{
    margin-left: 10px;
    margin-right: 10px;
}

.remove_empty_spaces{
    margin: 0%;
    padding: 0%;
}

.item-space{
    margin-left: 2px;
}

.menu-mobile-icon{
    color: rgb(243, 162, 86)  !important;
    --color:  rgb(243, 162, 86)  !important;
}

.link_style{
    color: white;
    transition-duration: .5s;
}

.link_style:hover{
    color: rgb(243, 162, 86);
}

.logo {
    min-width: 32px;
    max-width: 80px;
}

.navbar-toggler {
    font-size: 40px;
}

/* remove border when focus any button in the navbar*/
.navbar-toggler:focus {
    outline: none;
}



.dropdown-item:hover{
    background-color: rgb(255, 119, 0);
    color: white;
}




.dropdown-menu .nav-item:hover{
    background-color: rgba(0, 0, 0, .15);
}

.icon-base-size{
    width:32px;
    height:32px;
} 

.dropdown:hover .dropdown-menu {
    display: block;
}

.icons-li{ 
    display:inline-block;
} 


.center{
    text-align: center;
    vertical-align: middle;
}

.center_div_screen{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  
}

.hide_element{
    display: none;
}


/* If the screen size is 701px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 701px) {
    .textAuto {
      font-size: 16px;
    }
  }
  
  /* If the screen size is 700px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 700px) {
    .textAuto {
      font-size: 14px;
    }
  }

  

  @media screen and (max-width: 500px) {
    .text_submenu {
        font-size: 12px
    }
  }


.menu_section{
    padding-bottom: 10px;
}


.invert_color{
    filter: invert(1);
}

.content_right{
    position: absolute;
    right: 1%;
}


.desktop_user{
    margin-bottom: 15px; 
}

.desktop_search, .desktop_notifications{
    position: relative;
    margin-left: 17px;
    margin-top: 10px;

}

.search-form .form-group {
    float: right;
    transition: all 0.35s, border-radius 0s;
    width: 35px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: 1px solid rgb(250, 163, 1);
  }
  .search-form .form-group input.form-control {
    display:block;
    padding-right: 30px;
    background: transparent;
    border: 0 none;
  }
  
  .search-form .form-group:hover, .search-form .form-group.hover {
    width: 100%;
  }
  
  .search-form .form-group .form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
  }

  .search-form .form-group .form-control-feedback .search_icon{
    width: 70%;
    height:70%;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 22px;
    background-color: #f09711;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(236, 144, 22);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  
.mobile_logo_user_section{
    position: fixed;
    width: 100%;
    min-width: 217px;
}

.mobile_logo{
    position: relative;
    margin-top: 20px;
  
}


.m_rightSide{
    position: relative;
    float: right;
    margin-top: 10px;
}


.align-elements{
    display:flex;
    align-items: center;
}
  
.split_elements{ 
    border: solid .5px orange;
}


.item_added_list_btn {
    background: linear-gradient(
    to right,
        rgb(255, 160, 4),
        rgb(255, 187, 0),
        rgb(255, 251, 0),
        rgb(255, 100, 55)
    ) !important;
    background-size: 300% 300%;
    animation: moveBorder 5s alternate infinite;
}

.video{
    cursor: pointer;
} 


/* ------------------------------------Info video pop up on hover--------------------------------------------------*/
.video_extra_data{
    z-index:10; 
    position: absolute;
    width: 20%;
    border-top: solid 5px  rgba(235, 140, 15,.2);
    border-bottom: solid 5px  rgba(235, 140, 15,.2);
    opacity: 0;
    transition: opacity .3s ease-out;
  background-image: linear-gradient(to right, black,  black, black, rgb(235, 140, 15), black, black, black);

}
.video_extra_data:hover{
    opacity: 1;

}

 .box_manager{
    position: relative;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
 }



.video_trailer_box{
}
.video_trailer_box .trailer_img_a{
    width: 100%;
    height: auto;
}


.video_ctrls_bar{
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.watched_container{
    position: relative;
    background-color:#110f0fdc!important; 
    margin-bottom: 2px;
    margin-left: 10%;
    margin-right: 10%;
    height:4px;
}


.watched_bar{
    background-color:#ff9100!important;
    padding: 1px; 
    height:4px;
    width:28%;
    border-right:solid rgb(255, 255, 255) 4px;
}

.active_icon_orange{
    color: darkorange !important;
}

.episode_img{
    width: 100%;
    height: auto;
    padding: 5%
}

.left_box_video{
    padding: 2px;
}

.right_box_video{
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    padding-left: 3%;
    padding-right: 3%;

}


.video_description{
    font-size: 14px;
    position: relative;
    color: white;
    overflow: auto;
    max-height: 200px;

 }


.icon_btn_crtl{
    cursor: pointer;
}