
body{
    background: black;
    color: white;
}

img{
    max-width: auto;
    max-height: auto;
}
.show_title{
    position: relative;
    margin: auto;
    margin-top: 5%;
    width: 50%;
}

.show_resumen_pause{
    position: relative;
    max-width: 40%;
    margin-left: 2%;
}

.clasification_age{
    position: absolute;
    margin-left: 2%;

    text-size-adjust: auto;
    font-size: 16px;
}

.icon_age{
    width: 24px;
    height: 24px;
    margin-left: 3px;
}

.desc_age{
    margin-left: 25px;
    margin-top: -22px;
}

.box_age{
    border: solid 2px orangered;
    margin-left: -23px;
    margin-top: -44px;
    width: 170px;
    height: 30px;
}

.bottom_screen{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;   
    min-height: 30px;
    max-height: 100px;
 }

li{
     display:inline-block;
     margin-left: 5px;
}

.space_left{
    width: 30%;
}

.invert_color{
    filter: invert(1);
}